<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tamelet Handler Log-In</title>
    <link rel="stylesheet" href="form.css">
</head>

<body>
    <h2 class="link"><a href="/form">Add a logging page here for admin</a></h2>

    <script src="scripts/validate.js"></script>
</body>

</html>